* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#navbar {
    background: linear-gradient(to bottom, rgb(17, 202, 17), rgb(1, 34, 1));
    display: flex;
    align-items: center;
}

#navbar a {
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 24px;
}

#navbar #logo {
    margin-right: auto;
    font-weight: bold;
    font-size: 36px;
}

#navbar a:hover {
    background: linear-gradient(to top, rgb(4, 67, 4), green);
}

#navbar #logo {
    margin-right: auto;
    font-weight: bold;
    font-size: 36px;
    padding-top: 13px; 
    padding-bottom: 12px;
}

.dropdown-container {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: 
        opacity 0.25s,
        visibility 0.25s;
}

.dropdown-container:last-child .dropdown-menu {
    right: 0px;
}

.dropdown-container:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
}

.dropdown-menu a {
    background-color: rgb(3, 26, 3);
    width: 100%;
    min-width: 200px;
}

#navbar .dropdown-menu a:hover {
    background: lightgreen;
}

.center-column {
    width: 50%; 
    min-width: 500px;
    margin: 0px auto; 
}

.center-column h1 {
    text-align: center;
    font-style: italic;
}

.center-column p {
    font-size: 25px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.center-column img {
    text-align: center;
}