* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#cards-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.card {
    flex: 300px;
    border: 3px solid black;
    margin: 24px;
    padding: 24px;
    border-radius: 12px;
    text-align: center;
}

.card a {
    color: black;
    text-decoration: none;
    display: block;
    border: 3px solid black;
    padding: 12px;
    margin-top: 36px;
}

#neon-card1:hover {
    background-color: red;
    box-shadow: 4px 4px 4px #00000033;
    transform: translateY(-4px);
}

#neon-card1 {
    transition: 
        background-color 0.5s,
        box-shaddow 0.5s,
        transform 0.5s;
}

#neon-card1:hover a {
    background-color: rgb(22, 202, 22);
    box-shadow: 4px 4px 4px 00000033;
    transform: translateY(-4px)
}

#neon-card2 a {
    transition: 
        background-color 0.5s,
        box-shaddow 0.5s,
        transform 0.5s;
}

#neon-card2:hover {
    background-color: rgb(22, 202, 22);
    box-shadow: 4px 4px 4px #00000033;
    transform: translateY(-4px);
}

#neon-card2:hover a {
    background-color: red;
    box-shadow: 4px 4px 4px 00000033;
    transform: translateY(-4px)
}

#neon-card3 a {
    transition: 
        background-color 0.5s,
        box-shaddow 0.5s,
        transform 0.5s;
}

#neon-card3:hover {
    background-color: yellow;
    box-shadow: 4px 4px 4px #00000033;
    transform: translateY(-4px);
}

#neon-card3:hover a {
    background-color: rgb(8, 230, 238);
    box-shadow: 4px 4px 4px 00000033;
    transform: translateY(-4px)
}

#neon-card4 a {
    transition: 
        background-color 0.5s,
        box-shaddow 0.5s,
        transform 0.5s;
}

#neon-card4:hover {
    background-color: rgb(8, 230, 238);
    box-shadow: 4px 4px 4px #00000033;
    transform: translateY(-4px);
}

#neon-card4:hover a {
    background-color: yellow;
    box-shadow: 4px 4px 4px 00000033;
    transform: translateY(-4px)
}

#neon-card5 a {
    transition: 
        background-color 0.5s,
        box-shaddow 0.5s,
        transform 0.5s;
}

#neon-card5:hover {
    background-color: rgb(255, 179, 0);
    box-shadow: 4px 4px 4px #00000033;
    transform: translateY(-4px);
}

#neon-card5:hover a {
    background-color: rgb(224, 15, 224);
    box-shadow: 4px 4px 4px 00000033;
    transform: translateY(-4px)
}

#neon-card6 a {
    transition: 
        background-color 0.5s,
        box-shaddow 0.5s,
        transform 0.5s;
}

#neon-card6:hover {
    background-color: rgb(224, 15, 224);
    box-shadow: 4px 4px 4px #00000033;
    transform: translateY(-4px);
}

#neon-card6:hover a {
    background-color: rgb(255, 179, 0);
    box-shadow: 4px 4px 4px 00000033;
    transform: translateY(-4px)
}